.idea/*
*.log
*.pyc
*.graphml
*.graphmlz
*.pkl
*.pklz
*.zip
*-checkpoint.ipynb
*.csv
*.xlsx
*.png
data_processing/notebooks/Untitled.ipynb
input_data/stop_nbh_1000.rar
*.net
*input_data/GTFS*
*output_data*.txt
output_data/graph_adj.txt
output_data/graph_edges.txt
output_data/stop_nbh_1000.txt
*Test1*
*Test2*
*Test3*
*Test4*
*Test0_a*
